# SSL
nginx/ssl/vinnypuxtomoon/*.pem
nginx/ssl/wl-ws/*.pem

# xray
configs/

# Cert renewal
renew-cert.sh

# Hint
check-node.txt
def-node.txt

# Документация
docs/

# CLAUDE.md
CLAUDE.md

# Node modules
landing/node_modules/
landing/dist/

# Логи
*.log

# Claude Code
.claude/

# OS
.DS_Store
Thumbs.db

# Env
.env
*.env

# State files from old setup
/var/


*.txt